
params{
// this is the main fastq directory
in_dir = "../../fastq/Afraterculus/"

// fastq file pattern (use glob pattern for fastq files)
fastq = '*R{1,2}_001.fastq.gz'

// temporary directory
TMP_DIR ='temp'

MAPQ_FILTER=10

// species name that you want to name your files
LABEL='Afraterculus'

// fasta file path (you can specify the glob pattern if there is only one fasta file is in the specified path)
REF="*.fasta"

PREFIX = LABEL+'_{1,2}'

// juicer file jar file. When you update the juicer version please copy the file into bin and update the path here
params.juicer = "${projectDir}/bin/juicer_tools_1.22.01.jar"

//Java heap size
java_memory="40g"

// number of scaffolds that used for generate the .hic file. 
scaffolding_count=500

// hic enzyme set (Arima genomics kit uses the below default enzyme kit)
hic_enzyme='GATC,GANTC'

// number of iterations you would like to use for the scaffolding
iterations=[3,5,10]
}

process {
   executor = 'slurm'
  //executor = 'local'
  pollInterval = '60 sec'
  clusterOptions = '--account=rrg-bourqueg-ad'
  submitRateLimit = '10/1min'
  queueSize = 400


cpus   = 5
memory = '10GB'
time   = '3h'

    errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel: 'align_R1|align_R2' {

        memory = '30GB'
        time   = '40h'
    }
    withLabel: 'creating_hic_file' {

        cpus   = 8
        memory = '50GB'
        time   = '60h'
    }
    withLabel: 'filter|pair_reads' {

        memory = '30GB'
        time   = '10h'
    }
    withLabel: 'salsa2_scaffolding' {

        memory = '30GB'
        time   = '20h'
    }
}