
params{
in_dir = "../../fastq/Afraterculus/"
fastq = '*R{1,2}_001.fastq.gz'
TMP_DIR ='temp'
MAPQ_FILTER=1
LABEL='Afraterculus'
REF="*.fasta"
PREFIX = LABEL+'_{1,2}'
params.juicer = "${projectDir}/bin/juicer_tools_1.22.01.jar"
java_memory="2g"
scaffolding_count=500
hic_enzyme='GATC,GANTC'
iterations=[3,5,10]
}

process {
  //executor = 'slurm'
   executor = 'local'
  pollInterval = '60 sec'
  clusterOptions = '--account=rrg-bourqueg-ad'
  submitRateLimit = '10/1min'
  queueSize = 400


cpus   = 2
memory = '2GB'
time   = '1h'

    // errorStrategy = { task.exitStatus in [143,137,104,134,139] ? 'retry' : 'finish' }
    // maxRetries    = 1
    // maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel: 'align_R1|align_R2' {
        cpus   = 2
        memory = '2GB'
        time   = '1h'
    }
    withLabel: 'creating_hic_file' {
        cpus   = 8
        memory = '50GB'
        time   = '60h'
    }
}